@import "tailwindcss";

@layer base {
  :root {
    font-family: 'Poppins', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
  }

  * {
    font-family: 'Poppins', sans-serif !important;
  }

  body {
    font-family: 'Poppins', sans-serif !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  /* Prevent automatic zoom on focus in iOS devices by ensuring a minimum font-size of 16px */
  @media (max-width: 767px) {
    input, select, textarea {
      font-size: 16px !important;
    }
  }
}

